{% extends "base.html.twig" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">pValue</th>
        <th scope="col">rValue</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
        <tr>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.pValue }}</td>
            <td>{{ item.rValue }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}